@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Header Style */

/* Shared CSS */
.display-flex {
    display: flex;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* Dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: whitesmoke;
    padding: 20px 25px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
}

.text-primary {
    color: #FF900E;
}

/* Nav Style */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 2rem;
}


.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1220px;
    margin: 0 auto;
}

/* Banner related style */
.banner-content {
    max-width: 845px;
    margin: 140px auto 50px auto;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-img {
    width: 100%;
}

main {
    max-width: 1220px;
    margin: 0 auto;
}

main>section {
    margin-top: 120px;
}

/* Our Features Sections styles */
.teams {
    align-items: center;
}

.team-img-container img {
    width: 15rem;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-features {
    margin-left: 120px;
    max-width: 515px;
}

.features-title {
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list {
    font-weight: 500;
}

/* Responsive Media Query */

@media screen and (max-width: 567px) {

    main>section {
        margin-top: 20px;
    }

    .navbar,
    .menu {
        flex-direction: column;
    }

    .banner-content {
        margin-top: 50px;
    }

    .teams {
        flex-direction: column-reverse;
    }

    .team-img-container img {
        width: 100%;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
    }



    .our-features {
        margin-left: 20px;
    }
}

/* Medium responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin-left: 25px;
    }
}